.wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}

.home-menubar-session{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    width: 20%;
    max-width: 240px;
    padding-top: 10px;
    height: 100vh;
    max-height: 100vh;
    position: sticky;
    top: 0;
}

.home-main-session{
    width: 40%;
    max-width: 520px;
    border-left: 1px solid rgb(238, 238, 238);
    border-right: 1px solid rgb(238, 238, 238);
}

.home-sidebar-session{
    width: 40%;
    max-width: 400px;
    height: 100%;
    background-color: #f7f9f9;
    margin: 1%;
    border-radius: 20px;
}

@media (max-width: 420px){
    .home-menubar-session{
        display: none;
    }

    .home-main-session{
        width: 100%;
    }
}

@media (max-width: 1024px){
    .home-menubar-session{
        max-width: 60px;
        align-items: center;
    }
    .home-main-session{
        width: 100%;
        max-width: 640px;
    }
    
    .home-sidebar-session{
        display: none;
    }

}

@media (max-width: 1280px){
    .home-menubar-session{
        max-width: 60px;
        align-items: center;
    }

    .home-main-session{
        width: 100%;
        max-width: 720px;
    }

    .home-sidebar-session{
        max-width: 300px;
    }
    
}