.container {
    display:flex;
    flex-direction: column;
}

.imagem {
    order: 1;
    width: 100vw;
    height: 17vh;
    background-color: pink;
}

.conteudo {
    display: flex;
    height: 83vh;
    justify-content: center; 
    flex-direction: column;
    padding: 5px;
}

.inicio > .login > p > span {
    color: red;
}

.inicio > .login > p {
    font-size: 13px;
}

.inicio > h1 {
    font-family: arial;
    font-size: 42px;
}

.inicio > h2 {
    font-family: arial;
    font-size: 26px;
}

button {
    border-radius: 10px;
    border: none;
    padding: 5px 35px 5px 35px;
}

.inicio {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 20px;
    height: 100%;
}

footer {
    display: none;
    justify-content: space-around;
}

footer > a {
    font-size: 16px;    
}

.login {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    width: 75vw;
    align-items: center;
    gap: 10px;
}

.button-login {
    display: flex;
    border-radius: 20px;
    background-color: pink;
    justify-content: center;  
    width: 100%;  
    padding: 10px;
}

.inicio > .apresentacao > .fa-twitter {
   color: pink;
   align-self: flex-start;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    gap: 75px;
    padding: 30px 0px;
}