.sidebar-container-noticias{
    height: 60vh;
    width: 100%;
    overflow: scroll;
    padding: 3%;
}

.sidebar-noticias-cabecalho{
    margin-top: 5px;

}

.sidebar-noticias-titulo{
    font-weight: 700;
    font-size: 12px;
    margin: 2% auto 1% auto;
}
.sidebar-noticias-autor{
    font-size: 10px;
    margin-bottom: 5px;

}
.sidebar-noticias-descricao{
    margin-bottom: 15px;
    font-size: 11px;
}

.sidebar-noticias-thumbnail img {
    width: 64px;
    max-height: 64px;
    float: right;
    border-radius: 6px;
}