.sidebar-container-noticias{
    height: 60vh;
    width: 100%;
    overflow: scroll;
    padding-left: 2%;
}

.sidebar-noticias-cabecalho{
    margin: 1em auto;

}

.sidebar-noticias-titulo{
    font-weight: 700;
    margin: 2% auto 1% auto;
}
.sidebar-noticias-autor{
    font-size: small;
    margin-bottom: 5px;

}
.sidebar-noticias-descricao{
    margin-bottom: 15px;
}