.container {
    display: flex;
    flex-direction: column;
}

.imagem {
    order: 1;
    width: 100vw;
    min-height: 17vh;
    height: 100%;
    background-color: pink;
}

.conteudo {
    display: flex;
    height: 83vh;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

.inicio>.login>p>span {
    color: red;
}

.text {
    font-size: 18px;
}

.information {
    font-size: 11px;
}

.inicio>.apresentacao>h1 {
    font-family: arial;
    font-size: 42px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.inicio>.apresentacao>h2 {
    font-family: arial;
    font-size: 26px;
    margin-bottom: 20px;
}

button {
    border-radius: 10px;
    border: none;
    padding: 5px 35px 5px 35px;
}

.inicio {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 20px;
    padding-bottom: 50px;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    gap: 10px;
}

footer>a {
    font-size: 16px;
}

.login {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    width: 75vw;
    align-items: center;
    gap: 15px;
}

.button-login {
    display: flex;
    border-radius: 20px;
    background-color: pink;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.inicio>.apresentacao>.fa-twitter {
    color: pink;
    align-self: flex-start;
    padding-bottom: 25px;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.login>h3 {
    align-self: flex-start;
}

.pop-up-login {
    display: flex;
    position: fixed;
    z-index: 2;
    justify-content: center;
    align-items: center;
    background-color: pink;
    max-width: 330px;
    max-height: 750px;
    top: calc(50% - ((55vh)/2));
    left: calc(50% - ((85vw)/2));   
    border-radius: 15px;
    padding: 20px;
    flex-direction: column;
    height: 55vh;
    width: 85vw;
    padding: 15px;
    border: 5px rgb(255, 147, 165) solid;
}

.linha-formulario {
    display: flex;
    width: 200px;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.linha-formulario>label {
    width: auto;
}

.forms-control {
    width: 100%;
    justify-self: flex-end;
}

.botao-fechar {
    align-self: flex-start;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    width: 100%;
    align-self: center;
}

.conteudo-login {
    display: flex;
    flex-direction: column;
}

.icone {
    align-self: center;
}



@media (min-width: 768px) {
    .inicio {
        padding-left: 100px;
    }

    .inicio>.apresentacao>h1 {
        font-size: 68px;
    }

    .inicio>.apresentacao>h2 {
        font-size: 31px;
    }

    .login {
        width: 65%;
        font-size: 24px;
    }

    .button-login {
        align-self: flex-start;
        border-radius: 25px;
        padding: 10px;
    }

    .text {
        font-size: 24px;
    }

    .information {
        font-size: 18px;
    }

    .conteudo {
        height: 100vh;
    }
    
    .pop-up-registro {
        max-width: 420px;
        max-height: 750px;
        top: calc(50% - ((750px)/2));
        left: calc(50% - ((420px)/2));
        height: 100vh;
    }
    .pop-up-login {
        max-width: 400px;
        max-height: 750px;
        top: calc(50% - ((55vh)/2));
        left: calc(50% - ((400px)/2));
        height: 55vh;
        padding: 15px 25px 15px 25px;
    }

}

@media (min-width: 1024px) {
    .container {
        flex-direction: row;
        height: 92vh;
    }

    .imagem {
        order: -1;
        width: 25%;
    }

    .inicio {
        padding-left: 35px;
    }

    .inicio>.apresentacao>h1 {
        font-size: 72px;
    }

    .inicio>.apresentacao>h2 {
        font-size: 35px;
    }

    .login {
        width: 45%;
        font-size: 18px;
        gap: 10px;
    }

    .login>h3 {
        font-size: 16px;
    }

    .button-login {
        align-self: flex-start;
        border-radius: 25px;
        padding: 10px;
    }

    .text {
        font-size: 18px;
    }

    .information {
        font-size: 11px;
        padding-bottom: 20px;
    }

    footer>a,
    p {
        font-size: 14px;
    }

    .pop-up-login,
    .pop-up-registro {
        max-width: 450px;
        max-height: 750px;
        top: calc(50% - ((65vh)/2));
        left: calc(50% - ((450px)/2));
        height: 65vh;
    }


}

@media (min-width: 1280px) {
    .imagem {
        width: 47vw;
    }

    .conteudo {
        height: 92vh;
    }

    .container {
        height: 90vh;
    }
}


.linha-formulario {
    display: flex;
    width: 200px;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.linha-formulario>label {
    width: auto;
}

.forms-control {
    width: 100%;
    justify-self: flex-end;
}