{% load static %}
    <div class="main-text-box">
        <form action="submit" method="post" class="main-upper-form">
            <div class="main-profile-text-input">
                <div class="profile-pic">
                    <!-- puxar foto perfil aqui(BD_avatar) -->
                </div>
                <input type="text" name="main-text-input" id="text-input">
            </div>
            <div class="main-profile-buttons-input">
                <div class="main-media-input">
                    <input type="button" value="img">
                </div>
                <input type="button" value="Postar">
            </div>
            
        </form>
    </div>
    <div class="post">çoaskjdaçlkjsdaLKSJD</div>
    <div class="post">SADA\SfAFAFAF</div>
    <div class="post">SWDASFCASDGFADF</div>
    <div class="post">ADadASdasfdaSd</div>
    <div class="post">SADASFC\ZSC</div>
    <div class="post">SADaSDASdaSD</div>
    <div class="post">ASdASDASdaSDASdaSDAD</div>
