{% load static %}
    <div class="main-textbox-column">
        <form action="." method="post" class="main-upper-form">
            <div class="main-profile-input-session">
                <div class="profile-pic">
                    <img src="{% static 'images/user.png' %}">
                </div>
            
                <div class="main-post-area">
                    {% csrf_token %}
                    {{form.texto.as_textarea}}
                    
                </div>
            </div>
            <div class="main-profile-buttons-input">
                <div class="main-media-input">
                    <input type="image" src="{% static 'images/image-gallery.png' %}" class="input-button">
                    <input type="image" src="{% static 'images/location.png' %}" class="input-button">
                </div>
                <input type="submit" value="Postar">
            </div>
            
        </form>
    </div>
    <div class="main-postlist">
        {% include 'home/post_list.html'%}
    </div>

    <form>
        {{form}}
    </form>
