{% load static %}

<div class="menubar-mainbar">
    <a href="{% url 'home' %}" class="menubar-icon">
        <img src="{% static 'images/home.png' %}" alt="logo" class="menubar-logo-png"><span>Página Inicial</span>
    </a>
    <a href="{% url 'explorar' %}" class="menubar-icon">
        <img src="{% static 'images/explore.png' %}" alt="logo" class="menubar-hash-png"><span>Explorar</span>
    </a>
    <a href="{% url 'explorar' %}" class="menubar-icon">
        <img src="{% static 'images/bell.png' %}" alt="logo" class="menubar-hash-png"><span>Notificações</span>
    </a>
</div>
<div class="menubar-profilebar">
    <div class="menubar-profile-pic">
        <div class="menubar-profile-initials">
            {{request.user.first_name|make_list|first}}{{request.user.last_name|make_list|first}}

        </div>
        <a href="{% url 'profile' %}" class="menubar-profile-userbar">
            <span>
                {% if request.user.is_authenticated%}
                    {{request.user.first_name}} {{request.user.last_name}}
                    <br>
                    <div class="menubar-profile-username">
                        @{{request.user.username}}
                    </div>
                {%endif%}
            </span>
        </a>
    </div>
    <div class="menubar-pageindicator">
       <h3>Home</h3> 
    </div>
</div>