{% extends 'home/home.html' %}
{% load static %} 

{% block content %}
<div class="sidebar-container-noticias">
    <h2 class="sidebar-noticias-cabecalho"> Notícias </h2>    
    {% for ar in articles %}
        <div class="noticia">
            <p class="sidebar-noticias-titulo">{{ ar.title }}</p>
            <p class="sidebar-noticias-autor">{{ ar.author }}</p>
            <p class="sidebar-noticias-descricao">{{ ar.description }}</p>
        </div>
    {% endfor %}
</div>
{% endblock content %}