{% extends "registration/pagina_cadastro.html" %}

{% block content %}
<div class="pop-up-login">

    <div class="conteudo-login">
      <div class="botao-fechar-e-icone">
        <div class="botao-fechar">
          <a href="/contas/">X</a>
        </div> 
        <div class="icone">
          <i class="fa-brands fa-twitter fa-3x"></i>
        </div>             
      </div>
      

      {% if form.errors %}
      <p>Seu usuario e senha não foram reconhecido, por favor tente novamente.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}

    {% endif %}    
      
      <div class="formulario-login">
      <form method="post" action="{% url 'login' %}">
            {% csrf_token %}        
            <form method="post" action="/contas/auth/login/">
              <div class="labels-login">
                <label for="id_username">Usuário:</label>
              </div>              
              <input type="text" name="username" autofocus 
              autocapitalize="none" autocomplete="username" 
              maxlength="150" required id="id_username">
              <div class="labels-login">
                <label for="id_password">Senha:</label>
              </div>              
              <input type="password" name="password" autocomplete="current-password"
              required id="id_password">
              <input type="submit" value="login"/>
              <input type="hidden" name="next" value="{{ next }}"/>
            </form>       
      </form>
  
      {# Assumes you setup the password_reset view in your URLconf #}
      <a href="{% url 'password_reset' %}">Esqueceu a sua senha?</a>
      <a href="{% url 'registro' %}">Ainda não é um usuário ?</a>
    </div>

  </div>

</div>
  

{% endblock %}