{% extends "registration/pagina_cadastro.html" %}

{% block content %}
<div class="pop-up-login">
    <div class="conteudo-login">
      <div class="botao-fechar">
        <a href="/contas/">X</a>
      </div>       
      
      {% if form.errors %}
      <p>Seu usuario e senha não foram reconhecido, por favor tente novamente.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}    
      <div class="icone">
        <i class="fa-brands fa-twitter fa-3x"></i>
      </div>
      <div class="formulario-login">
      <form method="post" action="{% url 'login' %}">
            {% csrf_token %}        
            {{ form.username.label_tag }}
            {{ form.username }}          
            {{ form.password.label_tag }}
            {{ form.password }}        
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    
  
      {# Assumes you setup the password_reset view in your URLconf #}
      <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
  </div>
    
</div>
  

{% endblock %}